@use "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@use "./_mixin";
@use "./_reset";
@use "../../pages/dashboard/_dashboard";
@use "../../pages/login/_login";
@use "../../pages/orders-dispatcher/_orders-dispatcher";
@use "../../pages/orders/_orders";
@use "../../pages/orders/new-orders/new-orders";
@use "../../pages/report/_report";

header {
  @include mixin.header;
}

footer {
  @include mixin.footer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(214, 21, 63);
  border-radius: 10px;
  border: 3px solid #fff;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
