@use "../../../assets/scss/variables";

.new-orders-page {
  margin-top: 100px;

  form {
    .details input,
    .details select {
      border: 1px solid variables.$border-color;
    }

    .form-check .form-check-input:checked {
      background-color: variables.$red-color;
      border-color: variables.$red-color;
      box-shadow: 0px 0px 10px 0px variables.$red-color !important;
    }
  }
}
